body {
  background-color: #1e2534;
}
main {
  padding-top: 50px;
  text-align: center;
  margin: 0 auto;
  max-width: 350px;
}

.TimerBtn {
  background-color: transparent;
  color: rgba(215, 210, 210, 0.8);
  border: 0;
  display: inline-block;
  width: 90px;
  padding-top: 30px;
  cursor: pointer;
  
}
.modalCloseX, .modalContinue {
  background-color: transparent;
  color: rgba(26, 13, 13, 0.8);
  border: 0;
  display: inline-block;
  width: 90px;
  padding-top: 30px;
  cursor: pointer;
}

button.with-text{
  font-size: 1.3rem;
  background-color: #9ca6b8;
 
  color:aliceblue;
  width: auto;
  border-radius: 15px;
  padding: 7px 15px;
  margin-top: 20px;

}

button.with-text svg{
  width: 25px;
  float: left;
  margin-right: 5px  
}

.App {

  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.TodoForm {
  width: 100%;
  height: 30px;
  margin: 20px 0;
  display: flex;
}

 form .TodoInput,
form .TodoBtn {
  flex: 3;
  border: none;
  outline: none;
  border-bottom: 1px solid #1e2534;
}

form .TodoBtn {
  flex: 1;
  color: rgb(131, 128, 128);
  margin: 0 10px;
  letter-spacing:  1.5px;
}

.TodoDel {
  border: none;
  background-color:rgb(208, 106, 106);
  color:white;
  /* color: rgb(131, 128, 128); */
  margin: 0 10px;
  letter-spacing:  1.5px;

}

.TodoEdit{
border: none;
  color: rgb(131, 128, 128);
  margin: 0 10px;
  letter-spacing:  1.5px;
}

.TodoSave {
  border: none;
    background-color: rgb(253, 213, 162);
    color: rgb(131, 128, 128);
    margin: 0 10px;
    letter-spacing:  1.5px;
  }

ul li .TodoInput {
  margin-right: 10px;
}
ul li .TodoEdit:disabled {
  opacity: .5;
  cursor: not-allowed;
}
.todobox {
  max-width: 500px;
  width: 100%;
  min-height: 400px;
  box-sizing: 0 2px 6px #555;
  margin: 50px auto;
  padding: 50px
}

ul li {
  display: flex;
  list-style: none;
  border: .5px solid #555;
  margin: 10px 0;
  padding: 10px;
  justify-content: space-between;
}

ul li .active {
  text-decoration: line-through;
  opacity: 1;

}

label {
  cursor: pointer;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

@media (max-width: 400px) {
  .todobox {
    padding:10px
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
