.modalBackground {
    background-color: rgb(219, 218, 218);
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, .25);
    border-radius: 10px;
    margin: 15px 15px;
    padding-bottom: 20px;
}

.slider {
    height: 40px;
    border: 2px solid rgb(200, 69, 69);
    border-radius: 15px;
    margin-bottom: 20px;
}

.thumb {
    background-color: rgb(200, 69, 69);
    cursor: pointer;
    width: 35px;
    height: 37px;
    border-radius: 30px;
}

.slider2 {
    height: 40px;
    border: 2px solid rgb(96, 148, 79);
    border-radius: 15px;

}

.thumb2 {
    background-color: rgb(96, 148, 79);
    cursor: pointer;
    width: 35px;
    height: 37px;
    border-radius: 30px;
}